<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/static/script/is_login.js"></script>
    <%- include ("../global/head.html") %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>foto-vote</title>
    <script src="/static/script/index.js"></script>
</head>

<body hidden>
    <style>
        a {
            color: black;
        }
    </style>

    <div id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger title" href="/">foto-vote.com</a>
                <!-- Example split danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info" onclick="_show_user();"><span
                            id="user_name"></span></button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <span class="dropdown-item" onclick="_show_display_form();">Create new vote</span>
                        <!-- <span class="dropdown-item" onclick="_show_display_form();">My vote</span>
                        <span class="dropdown-item" onclick="_show_display_form();">Recent vote</span> -->
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item" onclick="logout()">logout</span>
                    </div>
                </div>
            </div>
        </nav>

        <header class=" text-white">
            <div class="container text-center">
                <h1>&nbsp;</h1>
                <p class="lead"></p>
            </div>
        </header>

        <section>
            <div class="container" id="_display_main">
                <div class="card">
                    <div class="card-header text-center">
                        10 RECENT VOTES
                    </div>
                </div>
                <div id="_recent_vote"></div>
            </div>

            <div class="container" id="_display_user" hidden>
                <div class="card p-2">
                    <div class="d-flex align-items-center">
                        <div class="image"> <img src="/global/user_icon.png" class="rounded" width="155"> </div>
                        <div class="ml-3 w-100">
                            <h4 class="mb-0 mt-0"><span id="_display_user_user_name"></span></h4>
                            <span>Photographer</span>
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                <div class="d-flex flex-column"> I love foto-vote.com!</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center">
                            ALL VOTES
                        </div>
                    </div>
                    <div id="_display_user_recent_vote"></div>
                </div>
            </div>
            <div class="container" id="_display_form" hidden>
                <form action="/api/upload" method="post" id="form">
                    <div class="mb-3">
                        <label for="Title" class="form-label">title</label>
                        <input type="text" class="form-control" id="Title" name="Title" required>
                        <small class="form-text text-muted">give a title for this group of works</small>
                    </div>
                    <div class="mb-3">
                        <label for="files" class="form-label">Your images</label>
                        <input class="form-control" type="file" id="files" name="files" accept="image/*" multiple
                            required style="border: none;padding: 0;">
                        <!-- <div class="alert alert-warning" role="alert" style="margin-top: 5px;" hidden id="file_warn">
                            Please choose only 20 photos at most.
                        </div> -->
                        <small class="form-text text-muted">
                            choose your works to upload for others vote.<br>
                            the recommend number of photo per vote is: 10-20.
                        </small>
                    </div>
                    <input type="text" class="form-control" name="name" id="submit_name" value="" hidden>
                    <input type="text" class="form-control" name="user_id" id="submit_id" value="" hidden>
                    <button type="submit" id="submit_button" class="btn btn-primary">Upload</button>
                    <small class="form-text text-muted">
                        the works submitted that will published on the internet, please consider before upload your
                        works.<br>
                        the url to voting page will show to you after uploaded, please copy and save that.
                    </small>
                </form>
            </div>

            <div class="container" id="result" hidden>
                url to voting page for your works:
                <div class="form-group mx-sm-3 mb-2  flex-fill">
                    <label for="ren_url" class="sr-only">ren_url</label>
                    <input type="text" class="form-control flex-fill" id="ren_url">
                </div>
                <div class="alert alert-success" role="alert" hidden id="copied">
                    Copied to clipboard!
                    <!-- <small class="form-text text-muted">for mobile user, please click copy to copy.</small> -->
                </div>
                <small class="form-text text-muted">
                    you can now copy and send this url to your friends to help you vote your works.<br>
                    the url only show to you once, please remember or store this url into your note or brain.
                </small>
            </div>
    </div>
    </section>
    <!-- Footer -->
    <div style="padding: 20px;"></div>
    <footer class="py-1 bg-dark fixed-bottom" style="margin-top: 20px;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; beebeebeeebeee <span id="year"></span></p>
        </div>
        <!-- /.container -->
    </footer>


    <script>
        document.querySelector("#year").innerHTML = (new Date()).getFullYear();
    </script>

    <div class="container">

</body>

</html>