<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/static/script/is_login.js"></script>
    <%- include ("../global/head.html") %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>foto-vote</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/static/script/index.js"></script>
</head>

<body hidden>
    <style>
        a {
            color: black;
        }
    </style>

    <div id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger title" href="/">foto-vote.com</a>
                <!-- Example split danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info" onclick="_show_user();"><span
                            id="user_name"></span></button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <span class="dropdown-item" onclick="_show_display_form();">Create new vote</span>
                        <!-- <span class="dropdown-item" onclick="_show_display_form();">My vote</span>
                        <span class="dropdown-item" onclick="_show_display_form();">Recent vote</span> -->
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item" onclick="logout()">logout</span>
                    </div>
                </div>
            </div>
        </nav>

        <header class=" text-white">
            <div class="container text-center">
                <h1>&nbsp;</h1>
                <p class="lead"></p>
            </div>
        </header>

        <section>
            <div class="container" id="_display_main">
                <div class="card">
                    <div class="card-header text-center">
                        10 RECENT VOTES
                    </div>
                </div>
                <div id="_recent_vote"></div>
            </div>

            <div class="container" id="_display_user" hidden>
                <div class="card p-2">
                    <div class="d-flex align-items-center" style="padding-bottom: 10px;">
                        <div class="image">
                            <img src="/global/user_icon.png" class="rounded" width="110" id="_display_user_icon">
                        </div>
                        <div class="ml-3 w-100">
                            <h4 class="mb-0 mt-0 row">
                                <span id="_display_user_user_name" class="col-8"></span>
                                <span class="dropdown show text-right float-right col-4" id="owner-settings">
                                    <a class="btn btn-light dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="padding: 0 5px; margin-bottom: 1px;">
                                        ···
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        <button type="button" data-toggle="modal" class="dropdown-item"
                                            data-target="#modal_icon">Change Icon</button>
                                        <button type="button" data-toggle="modal" class="dropdown-item"
                                            data-target="#modal_title">Edit Title</button>
                                        <button type="button" data-toggle="modal" class="dropdown-item"
                                            data-target="#modal_bio">Edit Bio</button>
                                    </div>
                                </span>
                            </h4>
                            <span id="_display_user_title">Photographer</span>
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                <div class="d-flex flex-column" id="_display_user_bio"> I love foto-vote.com!</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center">
                            ALL VOTES
                        </div>
                    </div>
                    <div id="_display_user_recent_vote"></div>
                </div>
            </div>
            <div class="container" id="_display_form" hidden>
                <form action="/api/upload" method="post" id="form">
                    <div class="mb-3">
                        <label for="Title" class="form-label">title</label>
                        <input type="text" class="form-control" id="Title" name="Title" required>
                        <small class="form-text text-muted">give a title for this group of works</small>
                    </div>
                    <div class="mb-3">
                        <label for="files" class="form-label">Your images</label>
                        <input class="form-control" type="file" id="files" name="files" accept="image/*" multiple
                            required style="border: none;padding: 0;">
                        <!-- <div class="alert alert-warning" role="alert" style="margin-top: 5px;" hidden id="file_warn">
                            Please choose only 20 photos at most.
                        </div> -->
                        <small class="form-text text-muted">
                            choose your works to upload for others vote.<br>
                            the recommend number of photo per vote is: 10-20.
                        </small>
                        
                    </div>
                    <input type="text" class="form-control" name="name" id="submit_name" value="" hidden>
                    <input type="text" class="form-control" name="user_id" id="submit_id" value="" hidden>
                    <button type="submit" id="submit_button" class="btn btn-primary">Upload</button>
                    <div id="progress-upload" hidden>
                        <span id="progress-upload-status"></span>
                        <div class="progress">
                            <div id="progress-upload-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                    <small class="form-text text-muted">
                        the works submitted that will published on the internet, please consider before upload your
                        works.<br>
                        the url to voting page will show to you after uploaded, please copy and save that.
                    </small>

                    <small class="form-text text-muted">
                        current storage: <%=storage%>
                    </small>
                </form>
            </div>

            <div class="container" id="result" hidden>
                url to voting page for your works:
                <div class="form-group mx-sm-3 mb-2  flex-fill">
                    <label for="ren_url" class="sr-only">ren_url</label>
                    <input type="text" class="form-control flex-fill" id="ren_url">
                </div>
                <div class="alert alert-success" role="alert" hidden id="copied">
                    Copied to clipboard!
                    <!-- <small class="form-text text-muted">for mobile user, please click copy to copy.</small> -->
                </div>
                <small class="form-text text-muted">
                    you can now copy and send this url to your friends to help you vote your works.<br>
                    the url only show to you once, please remember or store this url into your note or brain.
                </small>
            </div>

            <!-- ICON Modal -->
            <div class="modal fade" id="modal_icon" tabindex="-1" role="dialog" aria-labelledby="modal_icon_Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_icon_Label">CHANGE ICON</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="modal_icon_upload">
                                <div class="form-group">
                                    <label for="modal_icon_input">Upload a new icon for your profile.</label>
                                    <input type="file" class="form-control-file" accept="image/*" name="icon" id="modal_icon_input">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="_modal_icon()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NAME Modal -->
            <div class="modal fade" id="modal_name" tabindex="-1" role="dialog" aria-labelledby="modal_name_Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_name_Label">EDIT NAME</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modal_name_input">Input new name:</label>
                                    <input type="text" class="form-control" id="modal_name_input">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="_modal_name()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TITLE Modal -->
            <div class="modal fade" id="modal_title" tabindex="-1" role="dialog" aria-labelledby="modal_title_Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_title_Label">EDIT TITLE</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modal_title_input">Input new title:</label>
                                    <input type="text" class="form-control" id="modal_title_input">
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="modal_title_input_url">
                                    <label class="form-check-label" for="modal_title_input_url">
                                      Set as url
                                    </label>
                                  </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="_modal_title()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BIO Modal -->
            <div class="modal fade" id="modal_bio" tabindex="-1" role="dialog" aria-labelledby="modal_bio_Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_bio_Label">EDIT BIO</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modal_bio_input">Input new bio:</label>
                                    <textarea type="text" class="form-control" id="modal_bio_input"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="_modal_bio()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!-- Footer -->
    <div style="padding: 20px;"></div>
    <footer class="py-1 bg-dark fixed-bottom" style="margin-top: 20px;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; beebeebeeebeee <span id="year"></span></p>
        </div>
        <!-- /.container -->
    </footer>


    <script>
        document.querySelector("#year").innerHTML = (new Date()).getFullYear();
    </script>

    <div class="container">

</body>

</html>